@CHARSET "UTF-8";

div.fc-row>table>thead > tr:first-child {
	background-color: orange;
}
td.fc-day{
	background-color: #FFF7BA;
}

body {
	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	font-size: 14px;
}

#calendar {
/* 	max-width: 900px; */
	max-width : 100%;
	margin-left : 2.5%;
}

#appointmentColor{
	max-width : 100%;
	padding-right : 2.5%;
}

textarea {
   overflow-y: scroll;
   resize: none; 
   } 

.fc-unthemed .fc-today {
   background: #FFCC40;
}