.email-notification {
	border: 2px solid rgb(222, 145, 4);
}

.btn-email-alert {
	background-color: rgb(222, 145, 4) !important;
}

#email-appointment-new-parent > #email-appointment-new {
	background-color: rgb(222, 145, 4) !important;
}

#email-appointment-update-parent > #email-appointment-update {
	background-color: rgb(222, 145, 4) !important;
}

.email-notififation-li:hover {
	background-color: #FFFFFF;
}

#email-badge {
	background-color: #DE9104;
}

.email-notififation-li:hover {
	background-color: #FFFFFF;	
}

.update-email, .new-email {
	color: #FFFFFF !important;
}

.update-email:hover, .new-email:hover{
	color: rgb(222, 145, 4) !important;
}

#email-dropdown .tooltip{
	z-index: 0 !important;
}

#email-dropdown .tooltip.right .tooltip-arrow {
	border-right-color: rgb(222, 145, 4) !important;
}

#email-dropdown .tooltip-inner {
	background-color: rgb(222, 145, 4) !important;
	max-width: 140px;
    /* If max-width does not work, try using width instead */
    width: 140px; 
}

@media ( max-width : 768px) {
	.email-notification {
		border: none;
		background-color: rgb(222, 145, 4);
	}
	
	.tooltip {
		display: none;
	}
	
	.dropdown-menu .divider {
	    height: 1px;
	    margin: 0px;
	    overflow: hidden;
	    background-color: #e5e5e5;
	}
	
	
	
}	
