
.page-header {
	border-bottom:	1px solid #858C8F;
}

.page-header {
	font-family: regular;
	font-size: 36px;
}

#email-section {
	-webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
	background: #E0DFDD;
	padding-bottom: 10px;
}

#email-hints {
	background-color: #F5F3C1;
	padding: 10px;
}

#email-hints-header {
	font-size: 2em;
	text-decoration: underline;
}



/* max-width  960px */
@media ( max-width : 960px) {
	
	.page-header{
		font-family: regular;
		font-size: 24px;
	}
	
	#email-hints {
		margin-top: 10px;
	}
}