/* .error {
	color: red;
} */

.collapse-br{
	margin-top: 50px;
}

h3 {
  margin: 0;
}

h3 a{
	display: block !important;
	color:white !important;
	text-decoration: none !important;
}

h3 + div { padding: 20px; }

#infomation {
	background-color: #F7C11F;
	color: white;
	border-bottom: 3px solid white;
	text-shadow: 2px 2px #EEBA10;
	height: 30px;
	
	
	/* margin-top: 1%;
    margin-left: 0%;
	margin-right: 1%;
	margin-bottom: 1%; */
}

#general {
	background-color: #F7C11F;
	color: white;
	border-bottom: 3px solid white;
	text-shadow: 2px 2px #EEBA10;
	height: 30px;
	/* margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px; */
}

#official {
	background-color: #F7C11F;
	color: white;
	border-bottom: 3px solid white;
	text-shadow: 2px 2px #EEBA10;
	height: 30px;
	/* margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px; */
}

#applicantStatusStyle {
	width: 296px;
	height: 92px;
}

#informationApplicant {
	color: #414141;
	background: #EBEBEB;
	font-size: 16px;
	color: #292929;
	margin-left: 15px;
    margin-right: 15px;
}

/*   	 #resumeMultipartFile{   */
/*       color: white;   */
/*       border: 1px #F7C11F;   */
/*       border-radius: 5px;   */
/*       background: #F7C11F;  */
/*       text-align: right;  */
/*       margin-bottom:10px; */
/*       margin-top:10px; */
/*       margin-right:25px; */
/*       margin-left:25px; */
/* }  */
/* 	#transcriptMultipartFile{ */
/* 	 color: white;   */
/*       border: 1px #F7C11F;   */
/*       border-radius: 5px;   */
/*       background: #F7C11F;  */
/*       text-align: right;  */
/*       margin-bottom:10px; */
/*       margin-top:10px; */
/*       margin-right:25px; */
/*       margin-left:25px; */
/* 	} */
#buttonSave {
	margin-top: 15px;
	margin-right: 5px;
	margin-bottom: 15px;
	width: 150px;
	height: 30px;
	float: right;
	font-size: 16px;
}

#buttonBack {
	margin-top: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
	width: 90px;
	height: 30px;
	background-color: f4f4f4;
	font-size: 14px;
	color: #414141;
}

#birthDay {

}

#cardExpiryDay {
	
}

#dateToBeDraft {

}

#applyDay {
	
}

.btn-file {
	position: relative;
	overflow: hidden;
	color: #ffffff;
	font-size: 13px;
	width: auto;
	height: auto;
	vertical-align: middle;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity = 0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

.btn-warning {
	color: #ECE5E5;
	background-color: #f0ad4e;
	border-color: #eea236;
}

#militaryNo {
	display: none;
}

#marriageAddress {
	
}

#email {

}

#militaryReason {
	width: 677px;
	height: 30px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-right: 25px;
	margin-left: 25px;
}

#nowEmployedYes {
	margin-bottom: 10px;
	margin-top: 10px;
}

#nowEmployedNo {
	margin-bottom: 10px;
	margin-top: 10px;
}

#nowEmployedKnow {
	display: none;
}

#emergencyAddress {
	width: 677px;
	height: 30px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-right: 25px;
	margin-left: 25px;
}

#previousNo {
	display: none;
}

#previousEmployersReason {
	/*     display:none; */
	width: 677px;
	height: 30px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-right: 25px;
	margin-left: 25px;
}

#militaryYes {
	display: none;
}

#tel {

}

#placeBirth {

}

#age {
	
}

#religion {
	
}

#nationality {

}

#cardId {
	
}

#cardIssuedOffice {

}

#height {
	
}

#weight {
	
}

#numberOfChildren {
	
}

#spouseName {
	
}

#marriageCertificateNo {

}

#issueOficeMarriage {
	
}

#occupationMarriage {

}

#militaryFromYear {
	
}

#militarytoYear {
	
}

#branchService {
	
}

#militaryPlace {
	
}

#militaryServiceNo {
	
}

#noticeNewspaper {
	margin-bottom: 10px;
	margin-top: 10px;
	margin-right: 25px;
	margin-left: 25px;
}

#noticeMagazine {
	margin-bottom: 10px;
	margin-top: 10px;
	margin-right: 25px;
	margin-left: 25px;
}

#noticeWebSite {
	margin-bottom: 10px;
	margin-top: 10px;
	margin-right: 25px;
	margin-left: 25px;
}

#noticeFriend {
	margin-bottom: 10px;
	margin-top: 10px;
	margin-right: 25px;
	margin-left: 25px;
}

#noticeOther {
	margin-bottom: 10px;
	margin-top: 10px;
	margin-right: 25px;
	margin-left: 25px;
}

#employedName {
	
}

#employedPosition {
	
}

#employedRelation {
	
}

#emergencyName {
	
}

#emergencyTel {
	
}

#expectedSalary {

}

#sexRadioButton {
	margin-bottom: 10px;
	margin-top: 10px;
	margin-right: 25px;
	margin-left: 25px;
	width: 210px;
	height: 30px;
}

#applicantStatusRadioButton {
	margin-bottom: 10px;
	margin-top: 10px;
	width: 210px;
	height: 30px;
	margin-right: 25px;
	margin-left: 25px;
}

#married {
	display: none;
}

#drafted {
	display: none;
}

#militaryStatusRadioButton{
	margin-bottom: 10px;
	margin-top: 10px;
	margin-right: 25px;
	margin-left: 25px;
	width: 210px;
	height: 30px;
}
#nowEmployedRadioButton {
	margin-bottom: 10px;
	margin-top: 10px;
	margin-right: 25px;
	margin-left: 25px;
	width: 210px;
	height: 30px;
}

#previousEmployersRadioButton {
	margin-bottom: 10px;
	margin-top: 10px;
	margin-right: 25px;
	margin-left: 25px;
}

#positionFirst {
	margin-bottom: 10px;
	margin-top: 10px;
	margin-right: 25px;
	margin-left: 25px;
}

#positionSecond {
	margin-bottom: 10px;
	margin-top: 10px;
	margin-right: 25px;
	margin-left: 25px;
}

#positionThird {
	margin-bottom: 10px;
	margin-top: 10px;
	margin-right: 25px;
	margin-left: 25px;
}
/*     #newspaper{ */
/*     display:none; */
/*     } */
/*     #magazine{ */
/*     display:none; */
/*     } */
/*     #webSite{ */
/*     display:none; */
/*     } */
/*     #friend{ */
/*     display:none; */
/*     } */
/*     #other{ */
/*     display:none; */
/*     } */
#applicantStatusStyle {
	width: 296px;
	height: 92px;
}

#firstNameTH {
	
}

#lastNameTH {
	
}

#nickNameTH {
	
}

#firstNameEN {
	
}

#lastNameEN {
	
}

#nickNameEN {
	
}

/*    #resumeMultipartFile{ */
/*      color: #ffffff; */
/*      font-family: "Regular"; */
/*   	 font-size: 13px; */
/*      width: 90px; */
/*      height: 25px */
/*    } */
#resume {
	margin-bottom: 10px;
	margin-top: 10px;
	margin-right: 25px;
	margin-left: 25px;
}
/*   #file-upload { */
/*     display: none; */
/* } */

/* .custom-file-upload { */
/*       background: #ddd; */
/*       border: 1px solid #aaa; */
/* 	  border-top: 1px solid #ccc; */
/* 	  border-left: 1px solid #ccc; */
/* 	  -moz-border-radius: 3px; */
/* 	  -webkit-border-radius: 3px; */
/* 	  border-radius: 3px; */
/* 	  color: #444; */
/* 	  display: inline-block; */
/* 	  font-size: 11px; */
/* 	  font-weight: bold; */
/* 	  text-decoration: none; */
/* 	  text-shadow: 0 1px rgba(255, 255, 255, .75); */
/* 	  cursor: pointer; */
/* 	  margin-bottom: 20px; */
/* 	  line-height: normal; */
/* 	  padding: 8px 10px; } */
label.resume input[type="file"] {
	position: fixed;
	top: -1000px;
}

/***** Example custom styling **** */
.resume {
	border: 2px solid #AAA;
	border-radius: 4px;
	padding: 2px 5px;
	margin: 2px;
	background: #DDD;
	display: inline-block;
}

.resume :hover {
	background: #CCC;
}

.resume :active {
	background: #CCF;
}

.resume :invalid+span {
	color: #A44;
}

.resume :valid+span {
	color: #4A4;
}

label.transcript input[type="file"] {
	position: fixed;
	top: -1000px;
}

/***** Example custom styling **** */
.transcript {
	border: 2px solid #AAA;
	border-radius: 4px;
	padding: 2px 5px;
	margin: 2px;
	background: #DDD;
	display: inline-block;
}

.transcript :hover {
	background: #CCC;
}

.transcript :active {
	background: #CCF;
}

.transcript :invalid+span {
	color: #A44;
}

.transcript :valid+span {
	color: #4A4;
}

#transcript {
	margin-bottom: 10px;
	margin-top: 10px;
	margin-right: 25px;
	margin-left: 25px;
}

/* max-width  960px */
@media ( max-width : 960px) {
	#info {
		margin: -12px 0 0 0;
	}
}

#con-body{
	margin-top: 30px;
}

#btn-image{
    margin-bottom: 5px;
    margin-right: 75px;
    margin-left: 75px;
    width: 120px;
    height: 120px;
    background-position: center;
    background-size: cover;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
    display: inline-block;
}

.btn-information{
	width: 210px;
	height: 30px;
	margin:10px 25px;
}

#marriageAddress {
	width: 677px;
	height: 30px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-right: 25px;
	margin-left: 25px;
}

@media ( max-width : 960px) {
	.btn-information{
		width: 100%;
		margin: 0 0 15px 10px;
	}
	
	#marriageAddress, #emergencyAddress,#militaryReason, #previousEmployersReason {
		width: 100%;
		margin: 0 0 15px 10px;
	}
}

@media (min-width: 768px) and (max-width: 1200px){
	*{
		font-size: 14px;
	}
	.form-inline .form-control {
	    display: inline-block;
	    width: 100%;
	    vertical-align: middle;
	}
	
	.btn-information{
		width: 100%;
	}	
	
	#emergencyName , #emergencyTel ,#militaryServiceNo,#dateToBeDraft{
		width: 210px
	}
	
	#marriageAddress {
		width: 100%;
	}
	

}	