
body {
	background-image: url(body1.jpg);
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: top center !important;
	background-repeat: no-repeat !important;
	background-attachment: fixed;
}

#loginForm {
	height: 500px;
	width: 245px;
	margin: 0 auto;
}

#flagbrand{
 padding-left: 1150px;
}