@font-face {
    font-family: 'Dosis-Bold';
    src: url('../fonts/Dosis-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Dosis-Regular';
    src: url('../fonts/Dosis-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Dosis-SemiBold';
    src: url('../fonts/Dosis-SemiBold.ttf') format('truetype');
}

*{
 font-family: Dosis-Regular;
}

body {
	background-image: url(body1.jpg);
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: top center !important;
	background-repeat: no-repeat !important;
	background-attachment: fixed;
}

#loginForm {
	height: 500px;
	width: 245px;
	margin: 0 auto;
}

